*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(200deg,rgb(2, 0, 2),purple);
}
.card{
    position: relative;
    width: 450px;
    height: 600px;
    margin: 20px;
    background-color: rgb(59, 2, 97);
    overflow: hidden;
    box-shadow: 0 0 30px black;
    border-radius: 30px;
    text-align: center;
}
.card h2{
    color: white;
    margin-top: 50px;
}
.denglu{
    position:absolute;
    bottom: -50px;
    width: 450px;
    height: 550px;
    background-color: rgb(245, 245, 249);
    border-radius: 80px;
}

.login-container h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
    color: rgb(71, 13, 125);
  }
.login-container input[type="text"],
  .login-container input[type="password"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
  }
  .login-container button {
    width: 250px;
    padding: 10px;
    background-color: #663b98;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .login-container button:hover {
    background-color: #550786;
  }
